h1{
    text-align: center;
    font-family: impact;
}
nav{text-align: center;}

h5{
    text-align: center;
}

p{
text-align: center;}
header{
    background-color: aqua;
}
footer{
    background-color: aqua;
    }

p{
    color: white;
}
    a{text-decoration: none;}
    #orlap{
        color:black;
    }