body{background-color: brown;}
.container{
    display: flex;
    background-color: aqua;
    gap: 10px;
    
    
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}
.item1{
    width: 200px;
    height: 200px;
    background-color: fuchsia;   
} 







